.meta {
    margin-bottom: 8px;
}
.content {
    margin-bottom: 10px;
}
.count {
    float: right;
    margin-bottom: 10px;
}
.thread {
    margin-bottom: 15px;
    border-bottom: 1px solid cornflowerblue;
}
.action {
	float: left;
}
.action-edit {
	float: none;
}
